body {
	text-transform: capitalize;
}
html {
	scroll-behavior: smooth;
}
.custom-btn {
	width: 240px;
	height: 50px;
	background: linear-gradient(to left, #19d3ae 0%, #0fcfec 100%);
	color: #fff;
	border: none;
}
.sub-title {
	color: #1cc7c1;
	font-size: 22px;
	text-transform: uppercase;
	margin: 20px 0px;
}

.react-calendar {
	border: none !important;
}

@media only screen and (max-width: 768px) {
	.ourPatients-header-text {
		width: 100% !important;
	}
	.header-main-title {
		font-size: 28px;
	}
	.bg-white {
		text-align: center;
	}
	.sidebar {
		height: 100% !important;
		position: static !important;
		width: 100% !important;
	}
}
@media only screen and (max-width: 992px) {
	.header-container {
		height: 100% !important;
	}
	.service-wrapper img {
		width: 100% !important;
	}
	.AppointmentBlock {
		display: none;
	}
	.header-blog {
		height: 100% !important;
	}
	.navbar-text {
		color: #000000 !important;
	}

	.table {
		overflow: scroll;
	}
}
